@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #e09efe, #f6ebff, #faeffd);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*mantém o gradiente fixo na tela mesmo com scroll.*/
    background-size: cover;
    /*garante que ele ocupe toda a área disponível sem se repetir.*/
    display: flex;
    justify-content: center;
    /* Centraliza na horizontal */
    align-items: center;
    /* Centraliza na vertical */
    overflow: hidden;
    height: 100vh;
}

.moeda,
.arrow {
    width: 35px;
    height: 35px;
}

.arrow {
    margin: 5px;
    padding: 5px;
}

.forms {
    width: 400px;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

select,
input {
    display: block;
    margin: 0 auto;
    border: 1px solid #b645fd;
    border-radius: 50px;
    padding: 10px;
    width: 360px;
}

.titulo-form {
    color: #6d6d6d;
    font-size: 14px;
}

.convert {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: 12px;
    border: 1px solid #b645fd;
    border-radius: 50px;
    width: 200px;

    cursor: pointer;
    transition: 0.2s;
}

.convert:hover {
    background-color: #b645fd;
    color: #fff;
}

section {
    margin: 20px 10px 10px 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #b645fd;
    border-radius: 15px;
}

@media screen and (max-width: 640px) {

    body {
        display: flex;
        justify-content: center;
    }
}